<% for (element of content) { %>

    <% if (element.isPlayableCharacter) { %>

    <form action="/searchCharacter/<%= element.displayName %>" method="get">
        <button type="submit">
            <div class="min-h-[600px] hover:scale-105 hover:bg-[#0000003d] lg:col-span-1 border-2 border-[#<%= element.backgroundGradientColors[0]%>] my-5 rounded-2xl p-5 lg:rounded-2xl lg:p-5">
                <img class="character-img lg:mx-auto" src="<%= element.displayIcon %>" alt="Gekko portrait">
                <h1 class="text-center lg:text-[40px] lg:character-title" style="color: #<%= element.backgroundGradientColors[0]%>"><%= element.displayName %></h1> 
                <p class="character-description"><strong>Description:</strong> <%= element.description %></p>
                <br>
                <p class="text-2xl mb-2">Abilities:</p>
                <% for (ability of element.abilities) { %>
                    <div class="ability-background inline-block px-2 py-2 my-1 hover:bg-[#0a0a0e] cursor-pointer">
                        <p class="ability"><%= ability.displayName %></p>
                    </div>
                <% }; %>
                <p class="opacity-10 mt-2">Uuid: <%= element.uuid %></p>
            </div>
        </button>
    </form>
    <% }; %>

<% } %>
